/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

#Gemfile.lock

# rspec failure tracking
.rspec-failures
.byebug_history

# default test application
spec/decidim_dummy_app

# default development application
development_app

.byebug_history

# default development application
development_app
.rbenv-vars
.vscode
.byebug_history
*.gem
npm_debug.log
.rubocop-*

# Ignore node modules
/node_modules
