<div class="filters__section sdgs-filter">
<legend class="mini-title"><%= t("activemodel.attributes.challenge.sdg") %></legend>
  <button class="" data-open="sdgs-modal"><%= t(".select") %></button>
  <% Decidim::Sdgs::Sdg::SDGS.each do |sdg_code| %>
    <input type="hidden" name="filter[with_any_sdgs_codes][]" value="<%= form.object.with_any_sdgs_codes.include?(sdg_code.to_s) ? sdg_code : '' %>" data-value="<%= sdg_code %>">
  <% end %>
</div>
