<ul>
  <li>(1) No Poverty</li>
  <li>(2) Zero Hunger</li>
  <li>(3) Good Health and Well-being</li>
  <li>(4) Quality Education</li>
  <li>(5) Gender Equality</li>
  <li>(6) Clean Water and Sanitation</li>
  <li>(7) Affordable and Clean Energy</li>
  <li>(8) Decent Work and Economic Growth</li>
  <li>(9) Industry Innovation and Infrastructure</li>
  <li>(10) Reducing Inequality</li>
  <li>(11) Sustainable Cities and Communities</li>
  <li>(12) Responsible Consumption and Production</li>
  <li>(13) Climate Action</li>
  <li>(14) Life Below Water</li>
  <li>(15) Life On Land</li>
  <li>(16) Peace Justice and Strong Institutions</li>
  <li>(17) Partnerships for the Goals.</li>
</ul>