<style>
   /* REMOVE ASAP FROM HERE */
    @font-face {
        font-family: Oswald-Medium;
        src: url("Oswald-Medium.ttf");
    }

    #ods-logo-container {
        width: 250px;
        height: 250px;
        padding-top: 25px;
        background-color: #dedede;
        margin: auto;
    }

   #ods-logo-container img {
       margin: auto;
       display: block;
       margin-bottom: 10px;
   }

   #ods-logo-container p#title {
       text-align: center;
       font-weight: bold;
       font-size: 15pt;
       line-height: 15px;
       margin: 0;
   }

   #ods-logo-container p#subtitle {
       text-align: center;
       font-size: 9.5pt;
   }

    .ods {
        width: 175px;
        position: relative;
        margin-bottom: 25px;
    }

   .ods.final {
       padding: 10px;
       height: 175px;
       border: 1px solid #c6c6c6;
   }

    .ods .text-container{
        position: absolute;
        top: 10.2px;
        left: 45px;
        width: 120px;
    }

    .stretch.text-container {
        left: 55px;
        width: 105px;
    }

    .ods p {
        margin: 0;
        font-family: Oswald-Medium, 'Open Sans Semibold', sans-serif;
        color: white;
        font-size: 9pt;
        text-size-adjust: 100%;
    }

    .ods object {
        width: 100%;
    }
</style>
<div class="row mb-m">
  <div class="columns large-7">
    <section>
      <h3 class="mb-sm">
        <strong>Objectius de Desenvolupament Sostenible</strong>
      </h3>
      <p>
        Els 17 <strong>Objectius de Desenvolupament Sostenible (ODS)</strong> - objectius universals, integradors
        i ambiciosos - són els que guien la implementació de l'Agenda 2030 de les Nacions Unides per al
        Desenvolupament Sostenible, aprovada el 25 de setembre de 2015. Les temàtiques que aborden van des de la
        pobresa, la fam, la pau, la salut, l'educació, les desigualtats, la inclusió, la prosperitat econòmica,
        la protecció del planeta, la lluita contra el canvi climàtic, les ciutats i els territoris, l'energia,
        el consum i la producció sostenibles i la governança.
      </p>
    </section>
  </div>
  <div class="columns large-5">
    <div id="ods-logo-container">
      <img src="/assets/decidim/sdgs/sdg-wheel.png">
      <p id="title">OBJECTIUS GLOBALS</p>
      <p id="subtitle">de Desenvolupament Sostenible</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="row column">
      <h4 class="mb-sm">
        <strong>Coneix els 17 Objectius de Desenvolupament Sostenible</strong>
      </h4>
    </div>
    <div class="row">
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FI</p>
            <p>DE LA POBRESA</p>
          </div>
          <img alt="Logo ODS 01" src="/assets/decidim/sdgs/ods-01.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FAM</p>
            <p>ZERO</p>
          </div>
          <img alt="Logo ODS 02" src="/assets/decidim/sdgs/ods-02.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>SALUT</p>
            <p>I BENESTAR</p>
          </div>
          <img alt="Logo ODS 03" src="/assets/decidim/sdgs/ods-03.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>EDUCACIÓ</p>
            <p>DE QUALITAT</p>
          </div>
          <img alt="Logo ODS 04" src="/assets/decidim/sdgs/ods-04.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>IGUALTAT</p>
            <p>DE GÈNERE</p>
          </div>
          <img alt="Logo ODS 05" src="/assets/decidim/sdgs/ods-05.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>AIGUA NETA</p>
            <p>I SANEJAMENT</p>
          </div>
          <img alt="Logo ODS 06" src="/assets/decidim/sdgs/ods-06.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>ENERGIA NETA</p>
            <p>I ASSEQUIBLE</p>
          </div>
          <img alt="Logo ODS 07" src="/assets/decidim/sdgs/ods-07.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>TREBALL DECENT</p>
            <p>I CREIXEMENT</p>
            <p>ECONÒMIC</p>
          </div>
          <img alt="Logo ODS 08" src="/assets/decidim/sdgs/ods-08.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>INDÚSTRIA</p>
            <p>INOVACIÓ I</p>
            <p>INFRAESTRUCTURES</p>
          </div>
          <img alt="Logo ODS 09" src="/assets/decidim/sdgs/ods-09.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>REDUCCIÓ DE LES</p>
            <p>DESIGUALTATS</p>
          </div>
          <img alt="Logo ODS 10" src="/assets/decidim/sdgs/ods-10.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>CIUTATS I</p>
            <p>COMUNITATS</p>
            <p>SOSTENIBLES</p>
          </div>
          <img alt="Logo ODS 11" src="/assets/decidim/sdgs/ods-11.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>CONSUM I</p>
            <p>PRODUCCIÓ</p>
            <p>RESPONSABLES</p>
          </div>
          <img alt="Logo ODS 12" src="/assets/decidim/sdgs/ods-12.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>ACCIÓ</p>
            <p>CLIMÀTICA</p>
          </div>
          <img alt="Logo ODS 13" src="/assets/decidim/sdgs/ods-13.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>VIDA</p>
            <p>SUBMARINA</p>
          </div>
          <img alt="Logo ODS 14" src="/assets/decidim/sdgs/ods-14.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>VIDA</p>
            <p>D'ECOSISTEMES</p>
            <p>TERRESTRES</p>
          </div>
          <img alt="Logo ODS 15" src="/assets/decidim/sdgs/ods-15.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>PAU, JUSTÍCIA</p>
            <p>I INSTITUCIONS</p>
            <p>SÒLIDES</p>
          </div>
          <img alt="Logo ODS 16" src="/assets/decidim/sdgs/ods-16.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>ALIANÇA PER A</p>
            <p>ASSOLIR ELS</p>
            <p>OBJECTIUS</p>
          </div>
          <img alt="Logo ODS 17" src="/assets/decidim/sdgs/ods-17.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods final">
          <img alt="Logo ODS 17" src="/assets/decidim/sdgs/un_emblem_square.png">
        </div>
      </div>
    </div>
  </div>
</div>
