<style>
   /* REMOVE ASAP FROM HERE */
    @font-face {
        font-family: Oswald-Medium;
        src: url("Oswald-Medium.ttf");
    }

    .ods {
        width: 175px;
        position: relative;
        margin-bottom: 25px;
    }

    .ods .text-container{
        position: absolute;
        top: 10.2px;
        left: 45px;
        width: 120px;
    }

    .stretch.text-container {
        left: 50px;
        width: 115px;
    }

    .ods p {
        margin: 0;
        font-family: Oswald-Medium, 'Open Sans Semibold', sans-serif;
        color: white;
        font-size: 11.2pt;
        text-size-adjust: 100%;
    }

    .ods object {
        width: 100%;
    }
</style>
<div class="row">
  <div class="columns large-7">
    <section>
      <h3> Objectius de Desenvolupament Sostenible </h3>
      <p>
        Els 17 <strong>Objectius de Desenvolupament Sostenible (ODS)</strong> - objectius universals, integradors
        i ambiciosos - són els que guien la implementació de l'Agenda 2030 de les Nacions Unides per al
        Desenvolupament Sostenible, aprovada el 25 de setembre de 2015. Les temàtiques que aborden van des de la
        pobresa, la fam, la pau, la salut, l'educació, les desigualtats, la inclusió, la prosperitat econòmica,
        la protecció del planeta, la lluita contra el canvi climàtic, les ciutats i els territoris, l'energia,
        el consum i la producció sostenibles i la governança.
      </p>
    </section>
  </div>
  <div class="columns large-5">
    FOTO
  </div>
</div>
<div class="row">
  <div class="columns">
    <div class="row column">
      <h4>
        Coneix els 17 Objectius de Desenvolupament Sostenible
      </h4>
    </div>
    <div class="row">
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 01" src="/assets/decidim/sdgs/ods-01.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 02" src="/assets/decidim/sdgs/ods-02.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 03" src="/assets/decidim/sdgs/ods-03.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 04" src="/assets/decidim/sdgs/ods-04.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 05" src="/assets/decidim/sdgs/ods-05.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 06" src="/assets/decidim/sdgs/ods-06.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 07" src="/assets/decidim/sdgs/ods-07.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 08" src="/assets/decidim/sdgs/ods-08.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 09" src="/assets/decidim/sdgs/ods-09.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 10" src="/assets/decidim/sdgs/ods-10.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 11" src="/assets/decidim/sdgs/ods-11.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 12" src="/assets/decidim/sdgs/ods-12.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 13" src="/assets/decidim/sdgs/ods-13.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 14" src="/assets/decidim/sdgs/ods-14.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 15" src="/assets/decidim/sdgs/ods-15.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 16" src="/assets/decidim/sdgs/ods-16.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container stretch">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 17" src="/assets/decidim/sdgs/ods-17.svg">
        </div>
      </div>
      <div class="columns large-2">
        <div class="ods">
          <div class="text-container">
            <p>FIN</p>
            <p>DE LA POBREZA</p>
          </div>
          <img alt="Logo ODS 17" src="/assets/decidim/sdgs/ods-17.svg">
        </div>
      </div>
    </div>
  </div>
</div>
