.card--challenge {

    border-color: rgb(254, 174, 2);
    border-top-color: rgb(254, 174, 2);

    .card__text--paragraph--estat {
        color: rgb(254, 174, 2);
    }
}

.card--challenge.proposal {

    border-color: rgb(254, 174, 2);
    border-top-color: rgb(254, 174, 2);

    .card__text--paragraph--estat {
        color: rgb(254, 174, 2);
    }
}

.card--challenge {    
    .card__title {
        margin-bottom: 5px;
    }

    .card_text--ods--image {
        display: inline-block;
    }

    .card_text--ods--text {
        display: inline-block;
    }

    .card__text--paragraph--estat {
        font-weight: bold;
        display: inline-block;
    }

    .card__text--paragraph--description {
        display: inline-block;
    }
}

.card--challenge.executing {
    border-color: rgb(0, 163, 144);
    border-top-color: rgb(0, 163, 144);

    .card__text--paragraph--estat {
        color: rgb(0, 163, 144);
    }
}

.card--challenge.finished {
    border-color: rgb(0, 188, 255);
    border-top-color: rgb(0, 188, 255);

    .card__text--paragraph--estat {
        color: rgb(0, 188, 255);
    }
}
