.card--solution {    
    .card__title {
        margin-bottom: 5px;
    }

    .card_text--sdg--image {
        display: inline-block;
        width: 20%;

        img {
            vertical-align: bottom;
        }
    }

    .card__sdg {
        display: inline-flex;
    }

    .card_text--sdg--text {
        display: inline-block;
        width: 75%;
        padding-left: 5px;
    }

    .card__text--paragraph--status {
        font-weight: bold;
        display: inline-block;
        text-transform: uppercase;
    }

    .card__text--paragraph--description {
        display: inline-block;
    }

    .card__text--paragraph--problem {
        font-weight: bold;
        display: inline-block;
    }

    .card__text--paragraph--problem--title {
        display: inline-block;
    }

    .card__text--paragraph--challenge {
        font-weight: bold;
        display: inline-block;
    }

    .card__text--paragraph--challenge--title {
        display: inline-block;
    }
}

.ods {
    cursor: default !important;
    &:hover {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
        transition: all 0.0s ease !important;
    }

    .text-container {
        top: 2px !important;
        left: 14px !important;
        width: 60px !important;
    }

    .text-container.show {
        top: 4px !important;
        left: 37.5% !important;
        width: 60px !important;
        text-align: start !important;
    }

    p {
        font-size: 6pt !important;
    }

    img.problem--view {
        width: 100% !important;
        max-width: 100px !important;
    }
}
