.card--solution {    
    .card__title {
        margin-bottom: 5px;
    }

    .card_text--sdg--image {
        display: inline-block;
        width: 20%;

        img {
            vertical-align: bottom;
        }
    }

    .card__sdg {
        display: inline-flex;
    }

    .card_text--sdg--text {
        display: inline-block;
        width: 75%;
        padding-left: 5px;
    }

    .card__text--paragraph--status {
        font-weight: bold;
        display: inline;
        text-transform: uppercase;
        padding-right: 5px;
    }

    .card__text--paragraph p:first-of-type {
        display: inline;
    }

    .card__text--paragraph--problem {
        font-weight: bold;
        display: inline-block;
    }

    .card__text--paragraph--problem--title {
        display: inline-block;
    }

    .card__text--paragraph--challenge {
        font-weight: bold;
        display: inline-block;
    }

    .card__text--paragraph--challenge--title {
        display: inline-block;
    }
}

.ods.solutions {
    cursor: default !important;
    &:hover {
        -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
        -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0) !important;
        transition: all 0.0s ease !important;
    }

    .text-container {
        top: 0.3rem !important;
        left: 1.3rem !important;
        width: 60px !important;
    }

    .text-container.show {
        top: 0.6rem;
        left: 6.5rem;
        width: 60px !important;
        text-align: start !important;
    }

    p {
        font-size: 6pt !important;
    }

    img.problem--view {
        width: 100% !important;
        max-width: 100px !important;
    }
}
