<%= decidim_form_for(@form, url: challenge_surveys_path)  do |f| %>
  <%= render partial: "form", object: f %>

  <div class="button--double form-general-submit">
    <%= f.submit t('.save') %>
  </div>
<% end %>
