<%= decidim_form_for(@form, html: { class: "form edit_challenge challenge_form_admin" }) do |f| %>
  <%= render partial: "form", object: f %>
  <div class="button--double form-general-submit">
    <%= f.submit t(".update"), class: "button" %>
  </div>
<% end %>
