/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: Oswald-Medium;
  src: url("Oswald-Medium.ttf");
}

.ods {
  width: 175px;
  position: relative;
  margin-bottom: 25px;
}

.ods .text-container{
  position: absolute;
  top: 10.2px;
  left: 45px;
  width: 120px;
}

.stretch.text-container {
  left: 50px;
  width: 115px;
}

.ods p {
  margin: 0;
  font-family: Oswald-Medium, 'Open Sans Semibold', sans-serif;
  color: white;
  font-size: 11.2pt;
  text-size-adjust: 100%;
}

.ods object {
  width: 100%;
}
