<section id="solutions">
  <h2 class="h4 flex items-center gap-2 mb-4">
    <%= resource_type_icon "Decidim::Amendment", class: "fill-tertiary w-6 h-6" %>
    <%= t("decidim.solutions.solutions.count.solutions_count", count: solutions.count) %>
  </h2>

  <div id="problems-list">
    <% solutions.each do |solution| %>
      <%= link_to resource_locator(solution).path, class: "card__link" do %>
        <%= translated_attribute solution.title %>
      <% end %>
    <% end %>
  </div>
</section>
