@import "stylesheets/decidim/sdgs/sdgs_filter/button.scss";
@import "stylesheets/decidim/sdgs/sdgs_filter/modal.scss";

.card__list {
  .card__list-content {
    width: 100%;
  }
  
  .card__list-image {
    margin-right: 14px;
  }
  
  .card__list-text {
    display: flex;
  
    p {
      width: 650px;
      min-width: 650px;
    }
  
    .card__sdg {
      margin-right: 20px;
    }
  
    .card_text--sdg--image {
      width: 48px;
  
      img {
        vertical-align: bottom;
      }
    }
  
    .card_text--sdg--text {
      font-size: 12px;
    }
  }
  
  .card__list-metadata {
    .label.proposal {
      background-color: rgb(254, 174, 2);
      color: rgb(86, 59, 1);
    }
  
    .label.executing {
      background-color: rgb(0, 163, 144);
      color: rgb(0, 49, 43);
    }
  
    .label.finished {
      background-color: rgb(0, 188, 255);
      color: rgb(0, 49, 43);
    }
  }
}

.layout-item__aside {
  .ods.challenges {
    width: 150px;
  }
}
